.resizable-container {
    position: relative;
    display: flex;
}

.resizable-content {
    flex-grow: 1;
    overflow: auto;
}

.resize-handle {
    width: 5px;
    cursor: col-resize;
    background-color: var(--color-border);
}

.collapse-handle {
    position: absolute;
    top: 50%;
    right: -15px;
    width: 15px;
    height: 30px;
    background-color: var(--color-border);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.resizable-container.collapsed .resizable-content {
    display: none;
}

.resizable-container.collapsed {
    width: 0 !important;
}

.titlebar-actions {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    position: relative;
}

.search-bar svg {
    position: absolute;
    left: 10px;
    color: var(--color-icon-primary);
}

.search-bar input {
    background-color: var(--color-search-bg);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    padding: 5px;
    margin-top: .1rem;
    color: var(--color-icon-primary);
    width: 17.5rem;
    text-align: center;
    padding-left: 30px;
}

.menu {
    position: relative;
}

.menu-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    padding: 5px;
    z-index: 10;
}

.list-style-none {
    list-style: none;
}
