.resizable-container {
  position: relative;
  display: flex;
  height: 100%;
}

.resizable-content {
  flex-grow: 1;
  overflow: auto;
  display: flex;
}

.resize-handle {
  width: 5px;
  cursor: col-resize;
  background-color: var(--color-resize-handle);
  transition: background-color 0.25s;
}

.resize-handle:hover {
  background-color: var(--color-resize-handle-hover);
}

.no-select {
  user-select: none;
}